input[role="combobox"] {
    height: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 4.4em;
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    outline: 1px solid #888888;
    width: calc(100% - 4px);
    text-align: right;
}